@model OnlineBookStore.Models.Entities.AUTHOR

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h2>Thông tin tác giả</h2>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-6">
        <dl class="dl-horizontal" style="font-size: 16px">
            <dt>
                Mã tác giả:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AUTHORID)
            </dd>
            <br>
            <dt>
                Tên tác giả:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AUTHORNAME)
            </dd>
        </dl>
    </div>
</div>
<hr />
<p>
    <a href="~/Author/Edit/@Model.AUTHORID" class='btn btn-default'>Sửa thông tin</a> |
    <a href="~/Author" class='btn btn-default'>Quay Lại</a> 
</p>
