@model OnlineBookStore.Models.Entities.BOOKTYPE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h2>Thông tin loại sách</h2>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div>
            <dl class="dl-horizontal" style="font-size: 16px">
                <dt>
                    ID loại sách:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TYPEID)
                </dd>
                <br>
                <dt>
                    Tên loại sách:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TYPENAME)
                </dd>
            </dl>
        </div>
    </div>
</div>
<hr />
<p>
    <a href="~/Type/Edit/@Model.TYPEID" class='btn btn-default'>Sửa thông tin</a> |
    <a href="~/Type" class='btn btn-default'>Quay Lại</a>
</p>
