<footer id="footer">
    <!--Footer-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row" style="text-align:center">
                <p>Copyright © @DateTime.Now.Year BookShop. All rights reserved.</p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
