@model IEnumerable<OnlineBookStore.Models.Entities.AUTHOR>
<h2>Tác giả</h2>
<div class="brands-name">
    <ul class="nav nav-pills nav-stacked">
        @foreach (var item in Model)
        {
            <li><a href="/Books?search=@item.AUTHORNAME">@item.AUTHORNAME</a></li>

        }
    </ul>
    <div class="toggle_btn" style="text-align:center;">
        <span class="toggle_text">Xem thêm</span>
        <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_morong.png" class="fas"/>
    </div>
</div>
