
@{
    ViewBag.Title = "Shopping_Sucess";
    Layout = "~/Views/Shared/_Layoutfront.cshtml";
}

<body style="text-align: center">
    <h2>Mua hàng thành công</h2>
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">Trở lại cửa hàng</a>
</body>
