@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Đăng nhập</h1>
    </div>
    <div>
        <form class="user" action="LoginAction">
            <div class="form-group">
                <input type="email" class="form-control form-control-user" id="account" aria-describedby="emailHelp" placeholder="Tài khoản" name="ACCOUNT" />

            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" id="passsword" placeholder="Mật khẩu" name="PASSWORD" />
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="check" />
                    <label class="custom-control-label" for="check">
                        Lưu thông tin đăng nhập
                    </label>
                </div>
            </div>
            <button type="submit" class=" btn btn-primary btn-user btn-block">Login</button>
            <hr />
        </form>
    </div>
</body>
</html>